.leagueDetails {
  margin: 10px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}
.imgStyle {
  background-color: rgb(5, 22, 77);
  padding: 20px;
  height: 260px;
}
.leagueDetails:hover .imgStyle {
  box-shadow: 0px 0px 10px 15px rgb(243, 176, 87);
  transition: 0.4s;
}
