.headerStyle {
padding: 20px;
height: 400px;
background-image: url('../../Images/backgroundImage.jpg');
background-repeat: no-repeat;
color: rgb(10, 251, 91);
background-size: cover;
background-position: center;
text-shadow: 2px 2px #3b3b39;
/* width: 100%; */
}
.headerText {
 margin-top: 100px;
 font-weight: 900;
}