.headerStyle {
  padding: 20px;
  height: 400px;
  background-image: url("../../Images/backgroundImage.jpg");
  background-repeat: no-repeat;
  color: rgb(252, 247, 203);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px #3b3b39;
}
.headerText {
  text-align: center;
  margin-top: 120px;
  font-weight: 900;
  font-size: 3rem;
}
